body {
  margin: auto;
  width: 75%;
  color: #fff;
  font-family: "Lucida Console", Monaco, monospace; }

table {
  width: 100%;
  border: 1px solid black;
  margin: 0 auto; }
  table tr {
    margin: 0 auto; }
  table th {
    font-size: 0.85em;
    border: 1px solid black;
    background: #737488;
    padding: 5px;
    margin: 0 auto; }
  table td {
    border: 1px solid black;
    background: #F2F2F2;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto; }

@media screen and (max-width: 991px) {
  table {
    margin: 0 auto;
    border: none; }

  tr, th, td {
    margin: 0 auto;
    display: block; }

  #assignmentLine {
    font-size: 0.2em; } }
textarea {
  background: #F2F2F2;
  border: none;
  width: 100%;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

h1 {
  color: #AAA9C2;
  font-family: "Times New Roman", Times, serif; }

h3, h2 {
  color: #5f6977;
  padding: 5px;
  margin-bottom: 0;
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 1em;
  font-family: "Arial Black", Gadget, sans-serif; }

h2 {
  text-align: center;
  padding-top: 5%;
  text-decoration: underline;
  font-size: 1.5em;
  opacity: 1; }

sup {
  font-size: 1.5em; }

ul {
  list-style-type: none; }

#header {
  text-align: center;
  width: 100%;
  margin: auto;
  padding-bottom: 3%; }
  #header div {
    padding-bottom: 10px;
    width: 33.33%;
    background-color: #9C8FBC;
    float: left; }
  #header #titleBar2 {
    background-color: #B9B9DC; }
  #header #titleBar3 {
    background-color: #B3B3CC; }

#process, #overview, #assignment {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%; }
  #process ol, #overview ol, #assignment ol {
    margin-left: 2%;
    line-height: 120%; }
  #process li, #overview li, #assignment li {
    color: #000;
    padding: 5px;
    font-size: 0.8em;
    letter-spacing: 2px; }

#overview #descriptionTable {
  background: none;
  border: none; }
#overview #cols {
  margin: auto;
  border-spacing: 0;
  background: none;
  border: none; }
#overview table {
  margin: 0;
  background: white; }
#overview #date {
  margin: auto;
  border: none;
  background: #F2F2F2;
  vertical-align: middle;
  display: inline-block;
  margin-left: 15%;
  padding: 8px; }
#overview #stakeholdersTable th, #overview #focusTable th {
  width: 25%; }
@media screen and (max-width: 991px) {
  #overview #stakeholdersTable table, #overview #focusTable table {
    margin: 0 auto;
    border: none; }
  #overview #stakeholdersTable tr, #overview #focusTable tr, #overview #stakeholdersTable th, #overview #focusTable th, #overview #stakeholdersTable td, #overview #focusTable td {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 100%; } }

#request, #milestone {
  padding-bottom: 5px; }
  #request li, #milestone li {
    border: 1px solid black;
    background: #F2F2F2;
    padding-bottom: 1%;
    padding-top: 1%; }
  #request #question, #milestone #question {
    font-size: 0.65em;
    border: 1px solid black;
    background: #737488;
    color: white; }
  @media screen and (max-width: 991px) {
    #request ul, #milestone ul {
      margin-right: 10%; } }

#milestone {
  margin-left: 10%;
  width: 80%; }
  #milestone #question {
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%; }
  #milestone textarea {
    margin-bottom: 2%;
    padding-bottom: 10%;
    border: 1px solid black; }
  @media screen and (max-width: 991px) {
    #milestone h3, #milestone h2 {
      font-size: 0.75em; } }

#assignment {
  margin-bottom: 10%;
  margin-left: 0%;
  margin-right: 0%; }
  #assignment h2 {
    padding: 5px; }
  #assignment p {
    padding-top: 15px;
    color: black;
    font-style: italic;
    font-size: 0.85em;
    margin: 0; }
  #assignment th {
    width: 25%; }
  @media screen and (max-width: 991px) {
    #assignment table {
      margin: 0 auto;
      border: none; }
    #assignment tr, #assignment th, #assignment td {
      margin: 0 auto;
      padding: 0;
      display: block;
      width: 100%; }
    #assignment p {
      font-size: 0.65em; } }

#footer {
  text-align: center;
  width: 100%;
  margin: auto;
  padding-bottom: 10%;
  align: center; }
  #footer div {
    padding: 5px;
    width: 45%;
    float: left; }
  #footer #submitButton {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #footer #submitButton button {
      -webkit-box-shadow: 2px 2px 4px lightgrey;
      -moz-box-shadow: 2px 2px 4px lightgrey;
      box-shadow: 2px 2px 4px lightgrey;
      padding: 5px;
      border-radius: 5px; }
  #footer #feedback h4 {
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0; }
  #footer #feedback #error_Answer {
    border: 1px solid black;
    margin: 0; }
  @media screen and (max-width: 991px) {
    #footer div {
      width: 40%;
      padding: 0; } }
