body{
      margin: auto;
      width: 75%;
      color: #fff;
      font-family: "Lucida Console", Monaco, monospace;
}
table{
  width:100%;
  border: 1px solid black;
  margin:0 auto;

  tr{
    margin:0 auto;
  }


  th{
    font-size: 0.85em;
    border: 1px solid black;
    background: #737488;
    padding: 5px;
      margin:0 auto;
  }

  td{
    border: 1px solid black;
    background:#F2F2F2;
    vertical-align: middle;
    text-align: center;
      margin:0 auto;
  }
}

  @media screen and (max-width:991px){
    table{
      margin: 0 auto;
        border:none;
    }
    tr, th, td{
      margin: 0 auto;
      display:block;
    }

    #assignmentLine{
      font-size: 0.2em;
    }
  }


textarea{
  background:#F2F2F2;
  border:none;
  width:100%;
  margin:auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

h1{
  color: #AAA9C2;
  font-family: "Times New Roman", Times, serif;
}

h3{
  color: #5f6977;
  padding: 5px;
  margin-bottom: 0;
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 1em;
  font-family: "Arial Black", Gadget, sans-serif;
}

h2{
  @extend h3;
  text-align: center;
  padding-top: 5%;
  text-decoration: underline;
  font-size: 1.5em;
  opacity:1;
}

sup{
  font-size: 1.5em;
}

ul{
  list-style-type: none;
}

#header {
      text-align:center;
      width: 100%;
      margin: auto;
      padding-bottom:3%;

  div{
    padding-bottom:10px;
    width: 33.33%;
    background-color: #9C8FBC;
    float:left;
  }

  #titleBar2{
    background-color: #B9B9DC;
  }

  #titleBar3{
    background-color: #B3B3CC;
  }
}

#process{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;

  ol{
    margin-left: 2%;
    line-height: 120%;
  }

  li{
    color: #000;
    padding: 5px;
    font-size: 0.8em;
    letter-spacing: 2px;
  }
}

#overview{
  @extend #process;

  #descriptionTable{
    background:none;
    border:none;
  }

  #cols{
    margin:auto;
    border-spacing:0;
    background:none;
    border:none;
  }
  table{
    margin:0;
    background:white;
  }
  #date{
      margin:auto;
      border: none;
      background:#F2F2F2;
      vertical-align: middle;
      display: inline-block;
      margin-left: 15%;
      padding:8px;
  }

  #stakeholdersTable{

    th{
      width: 25%;
    }

    @media screen and (max-width:991px){
      table{
        margin: 0 auto;
          border:none;
      }
      tr, th, td{
        margin: 0 auto;
        padding:0;
        display:block;
        width:100%;
      }
    }
  }

  #focusTable{
    @extend #stakeholdersTable;
  }
}

#request{
  padding-bottom: 5px;

  li{
    border: 1px solid black;
    background:#F2F2F2;
    padding-bottom: 1%;
    padding-top: 1%;
  }

  #question{
      font-size: 0.65em;
      border: 1px solid black;
      background: #737488;
      color: white;
  }

  @media screen and (max-width: 991px){
    ul{
      margin-right: 10%;
    }
  }
}

#milestone{
  @extend #request;
  margin-left:10%;
  width:80%;

  #question{
      margin:auto;
      padding-top: 1%;
      padding-bottom: 1%;
  }

  textarea{
    margin-bottom: 2%;
    padding-bottom: 10%;
    border: 1px solid black;
  }

  @media screen and (max-width:991px){
    h3{
      font-size: 0.75em;
    }
  }
}

#assignment{
  @extend #process;
  margin-bottom: 10%;
  margin-left: 0%;
  margin-right: 0%;

  h2{
    padding:5px;
  }

  p{
    padding-top: 15px;
    color:black;
    font-style:italic;
    font-size: 0.85em;
    margin:0;
  }

  th{
    width:25%;
  }

  @media screen and (max-width:991px){
    table{
      margin: 0 auto;
        border:none;
    }
    tr, th, td{
      margin: 0 auto;
      padding:0;
      display:block;
      width:100%;
    }

    p{
      font-size:0.65em;
    }
  }
}

#footer{
  text-align:center;
  width: 100%;
  margin: auto;
  padding-bottom:10%;
  align: center;

  div{
    padding:5px;
    width: 45%;
    float:left;
  }

  #submitButton{
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;

    button{
      -webkit-box-shadow: 2px 2px 4px lightgrey;
      -moz-box-shadow: 2px 2px 4px lightgrey;
      box-shadow: 2px 2px 4px lightgrey;
      padding: 5px;
      border-radius: 5px;
    }
  }

  #feedback{
    h4{
      color:black;
      font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
      margin:0;
    }

    #error_Answer{
      border: 1px solid black;
      margin:0;
    }
  }

  @media screen and (max-width: 991px)
  {
    div{
      width: 40%;
      padding:0;
    }
  }
}
